#첫번째 섹션은 현재 어떤 프로파일로 동작을 할건지를 선언해주고 있습니다.
#(application.properties 파일의 spring.profiles.active=local과 동일합니다)
#아무 설정도 하지 않으면 profiles 이름은 자동으로 스프링부트가 default 로 정한다.
spring:
  profiles: 
    active: local
---
# -Dspring.profiles.active=dev 미입력시 아래 설정 실행됨 
# 아무런 profile 을 작성하지 않을경우 spring boot 는 default 라는 기본값을 사용합니다.
spring:
  profiles: local
  # db설정
  datasource:
    driver-class-name: org.sqlite.JDBC
    # 스프링부트에서 JDBC 로 sqlite 연결할때 아래 파일명을 상대경로를 적으면 연결안되고 절대경로를 적으면 연결된다.
    url: jdbc:sqlite:D:\KiwoomStockAutoTrade (델파이7소스)\kiwoom_openapi.s3db 
    username: 
    password: 
mybatis:
  mapper-locations: classpath:mappers/**/*.xml # sql mapper 파일위치를 스프링부트에 알려줌 
server:
  port: 8080
JWT:
  # 토큰 발급자
  ISSUER: TEST 
  # JWT 키 (여러 문자가 섞일수록 안전하다)
  SECRET: SeCrEtKeY4HaShInG  
---
# -Dspring.profiles.active=dev 입력시 아래 설정 실행됨
spring:
  profiles: dev
  # db설정
  datasource:
    driver-class-name: org.sqlite.JDBC
    # 스프링부트에서 JDBC 로 sqlite 연결할때 아래 파일명을 상대경로를 적으면 연결안되고 절대경로를 적으면 연결된다.
    url: jdbc:sqlite:C:\kiwoom_openapi\kiwoom_openapi.s3db
    username: 
    password: 
mybatis:
  mapper-locations: classpath:mappers/**/*.xml # sql mapper 파일위치를 스프링부트에 알려줌 
server:
  port: 8091
JWT:
  # 토큰 발급자
  ISSUER: TEST 
  # JWT 키 (여러 문자가 섞일수록 안전하다)
  SECRET: SeCrEtKeY4HaShInG    
---
spring:
  profiles: prod
server:
  port: 80